@media (min-width: 600px) and (max-width: 768px) {
  #intro-row1{
    height: 75vh !important;
    #intro-para{
      padding: 1em 2em;
    }
    #intro-image{
      height: 23vh !important;
      padding-top: 1em;
      img{
        height: 100% !important;
      }
    }
  }
  #res-row1{
    height: 75vh !important;
    #resume-file{
      display: flex;
      justify-content: center;
      padding: 1em 0.75em;
      .res-hover{
        width: fit-content;
        .image-outline{
          height: 20vh;
          img{
            height: inherit;
          }
        }
      }
    }
    #resume-intro{
      padding: 1em 2em;
    }
  }
}

@media (min-width: 600px) and (max-width: 992px) {
  #intro-para {
    font-size: medium !important;
  }
  #resume-intro {
    font-size: medium !important;
  }
  .name-running {
    span {
      font-size: 9em !important;
    }
  }

  .job {
    margin: auto 0% 1em auto !important;
    h1 {
      font-size: 2em !important;
    }
  }
  .rectangle {
    p {
      font-size: 0.7em !important;
    }
    .globe {
      margin-left: 1.5em !important;
    }
  }

  #navbarContent {
    display: none !important;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 1em !important;
    .navbar-brand {
      font-size: 1em !important;
    }
  }
  .navbar-toggler-icon {
    width: 1em;
    height: 1em;
  }
  #navbarContent {
    display: none !important;
  }
  .side-menu {
    width: 100% !important;
  }
  .job {
    margin: auto 0% 1em auto !important;
    h1 {
      font-size: 2em !important;
    }
  }
  .location {
    .rectangle {
      width: 7.5em !important;
      height: 3em !important;
      padding: 1em 1em !important;
      p {
        font-size: 0.5em !important;
        margin-bottom: 0;
        margin-right: 2em;
      }
    }
    .globe {
      width: 3em !important;
      height: 2em !important;
      scale: 0.8 !important;
    }
  }
  .name-running {
    span {
      font-size: 9em !important;
    }
  }
  #intro-row1 {
    height: 75vh !important;
  }
  #res-row1 {
    height: 75vh !important;
  }
  .section-intro {
    background-size: 40% !important;
  }
  .row {
    padding: 1em !important;
  }
  #intro-para {
    font-size: 0.8em !important;
    padding: 1em;
  }
  #intro-image {
    height: 23vh !important;
    padding: 0em 0.75em !important;
    img {
      height: auto !important;
    }
  }
  #intro-tag {
    height: 30vh;
    align-items: center;
    p {
      font-size: medium !important;
    }
  }
  #resume-intro {
    font-size: 0.8em !important;
  }
  .section-resume {
    background-size: 40% !important;
  }
  #resume-file {
    padding: 2em 0;
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0em 0.75em !important;
    .res-hover {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .image-outline {
        height: 30vh;
        padding: 2em;
        img {
          width: auto;
          height: 100%;
        }
      }
      span {
        margin-top: -1em;
        padding-top: 0 !important;
      }
    }
  }
  #res-tag {
    height: 30vh;
    align-items: center;
    p {
      font-size: medium !important;
    }
  }
  .pill-btn{
    width: 80%;
    font-size: smaller !important;
  }
}

::-webkit-scrollbar {
  display: none;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}
.container {
  height: 100%;
}
.content {
  background-color: #27374d;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  .loader {
    display: flex;
    align-items: center;
    position: absolute;
    justify-content: center;
    height: -webkit-fill-available;
    width: -webkit-fill-available;
    background-color: black;
    overflow: hidden;
    z-index: 2;
    p {
      font-family: "Bricolage Grotesque", sans-serif;
      font-size: 4rem;
      color: bisque;
    }
  }
  .section-hero {
    background-image: url("../assets/enlarge_aman.jpg");
    background-size: cover;
    background-position-y: center;
    height: inherit;
    z-index: -1;

    nav.hidden {
      display: none;
    }

    .navbar {
      display: flex;
      padding: 1.5em;
      opacity: 70%;
      width: 100%;
      background: #1c1d20;
      position: fixed;
      .navbar-brand {
        font-size: 1.45em;
        font-weight: bold;
        color: bisque;
      }
      button {
        background: bisque;
        transition: all 0.2s ease-in;
      }
      ul {
        display: flex;
        gap: 2em;
      }
      a {
        color: bisque;
      }
      button:hover {
        scale: 1.1;
        background: #ffc107;
      }
      .nav-link:hover {
        color: #ff7150;
      }
    }

    .menu {
      text-align: end;
      height: 5vh;
      position: fixed;
      right: 0;
      margin: 1em 2em;
      transition: all 0.2s linear;
      z-index: 2;
      border-radius: 50%;
      cursor: pointer;
      img {
        height: 100%;
        transition: all 0.2s ease-in-out;
      }
    }

    .menu:hover {
      background-color: red;
      img {
        scale: 1.3;
      }
    }
    menu.hidden {
      display: none;
    }
    .nav-link {
      transition: all 0.3s ease-in;
      display: inline;
      cursor: pointer;
    }
    .nav-link:hover {
      color: #ff7150;
    }

    .side-menu {
      position: fixed;
      height: 100vh;
      background: aliceblue;
      width: 600px;
      top: 0;
      right: 0;
      z-index: 2;
      transition: all 0.5s ease-in-out;
      transform: translateX(100%);
      border-top-left-radius: 50%;
      border-bottom-left-radius: 50%;
      ul {
        text-align: center;
        list-style: none;
        li {
          padding-top: 2em;
          font-size: 2em;
        }
      }
      .close-icon {
        margin: 1em 2em;
        position: fixed;
        height: 5vh;
        text-align: end;
        top: 0;
        right: 0;
        border-radius: 50%;
        transition: all 0.3s ease-in;
        cursor: pointer;
        img {
          height: 100%;
        }
      }
      .close-icon:hover {
        background: red;
        scale: 1.3;
      }
    }

    #side-menu.active {
      transform: translateX(0%);
      border-top-left-radius: 0%;
      border-bottom-left-radius: 0%;
    }

    .center-page {
      display: flex;
      height: 78vh;
      .location {
        display: flex;
        width: fit-content;
        height: inherit;
        align-items: end;
        color: ghostwhite;
        font-size: x-large;
        .rectangle {
          align-items: center;
          background: #1c1d20;
          padding: 2em 1em;
          width: 9em;
          height: 3em;
          border-radius: 0 3em 3em 0;
          display: flex;
          margin-bottom: 5em;
          p {
            font-size: smaller;
            margin-bottom: 0;
          }
          .globe {
            width: 3em;
            height: 2em;
            position: relative;
            margin-left: 4px;
            pointer-events: none;
            z-index: 0;
            background: dimgrey;
            border-radius: 2em;
            padding: 10px;
          }
        }
      }
      .job {
        padding: 2em;
        color: bisque;
        width: fit-content;
        margin: auto 10% 1em auto;
        height: fit-content;
        text-shadow: 3px 3px black;
        h1 {
          font-size: 2.75em;
        }
      }
    }

    .name-running {
      height: 22vh;
      text-align: center;
      overflow: hidden;
      display: flex;
      span {
        display: flex;
        font-size: 13em;
        color: bisque;
        align-items: center;
        white-space: nowrap;
        height: inherit;
        font-weight: bold;
        text-shadow: 7px 7px black;
        animation: marquee 20s linear 2s infinite;
        cursor: pointer;
      }
    }
    .name-running:hover span {
      animation-play-state: paused;
    }
  }
  .section-intro {
    height: 100vh;
    width: 100%;
    background: #1c1d20;
    background-image: url("../assets/undraw_making_art_re_ee8w.svg");
    background-position-x: left;
    background-position-y: bottom;
    background-size: 25%;
    background-repeat: no-repeat;
    .container {
      .row {
        display: flex;
        justify-content: center;
        padding: 2em;
        height: 60vh;
        #intro-para {
          color: bisque;
          font-size: larger;
          padding: 2em;
          height: fit-content;
        }
        #intro-image {
          display: flex;
          padding-top: 2em;
          justify-content: center;
          height: fit-content;
          #intro-image-attach {
            border-radius: 50% !important;
            width: auto;
            height: fit-content;
            object-fit: cover;
            border: 5px solid bisque;
          }
        }
      }
      #intro-row2 {
        padding: 0;
        height: auto;
        overflow: hidden;
        #intro-tag {
          text-align: center;
          color: #ff7150;
          p {
            font-size: x-large;
          }
        }
      }
    }
  }
  .section-resume {
    height: 100vh;
    width: 100%;
    background-image: url("../assets/undraw_education_f8ru.svg");
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    background-size: 25%;
    .container {
      .row {
        display: flex;
        justify-content: center;
        padding: 3em;
        height: 60vh;
        #resume-file {
          padding: 2em 0.75em;
          height: fit-content;
          .res-hover {
            height: 100%;
            width: 100%;
            .image-outline {
              width: fit-content;
              #res-img {
                border: 6px solid white;
                border-radius: 50%;
                transition: all 0.2s ease-in;
              }
            }
            span {
              display: block;
              text-align: center;
              padding-top: 1em;
              color: antiquewhite;
              transition: all 0.2s ease-in;
            }
          }
          .res-hover:hover {
            span {
              text-transform: uppercase;
              color: #ff7150;
              font-size: 1em;
            }
            img {
              scale: 1.1;
            }
          }
        }
        #resume-intro {
          color: azure;
          font-size: larger;
          display: flex;
          align-items: center;
          height: fit-content;
          padding: 2em;
        }
      }
      #res-row2 {
        padding: 0;
        height: fit-content;
        #res-tag {
          text-align: center;
          color: #ff7150;
          p {
            font-size: x-large;
          }
        }
      }
    }
  }

  .section-contact {
    height: 100%;
    width: 100%;
    background: #1c1d20;
    background-image: url("../assets/undraw_people_search_re_5rre.svg");
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-size: 20%;
    .container {
      height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 2em;
      .conc-row1 {
        display: flex;
        width: 100%;
        align-items: center;
        margin-top: 32vh;
        #contact-intro {
          display: flex;
          width: 100%;
          justify-content: center;
          color: bisque;
          font-size: calc(clamp(3em, 6vw, 6em) * 0.75);
        }
      }
      .conc-row2{
        width: 80%;
        color: bisque;
      }
      .flex-col{
        margin-top: 2em;
        text-align: center;
      .pill-btn{
        display: inline-block;
        box-sizing: border-box;
        height: 4.5em;
        line-height: 4.2em;
        background: bisque;
        padding: 0px 2em;
        border-radius: 999em;
        text-decoration: none;
        color: black;
        font-size: 1em;
        white-space: nowrap;
        border: 3px solid bisque;
        margin: 0.5em;
        font-weight: 600;
        transition: all 0.2s ease-in-out;
      }
      .pill-btn:hover{
        background: #ff7150;
        border: 3px solid #ff7150;
      }
    }
    }
  }
}

section {
  scroll-snap-align: start;
}
